

    <h1 class="title">LOGIN</h1>
    <div>
        <div>
   <input
       
        type="email"
        id="email"
        class="form-input"
        placeholder="Enter email"
        name="email"
       
      />
        </div>
<div>
      <input
        
        type="password"
        id="password"
        class="form-input"
        placeholder="Enter password"
        name="password"
        
      />
</div>
    </div> 
    <button routerLink="/Home-page" type="submit" class="btn-primary" >LOGIN</button>
  


