<nav class="navbar navbar-expand-sm bg-primary navbar-dark"> 
    <ul class= "navbar-nav">
        
        <li class="nav-item">
            <a routerLink="/Home-page" routerLinkActive="active" class="nav-link">Home </a>
        </li>
        <li class="nav-item">
            <a routerLink="/service-list" routerLinkActive="active" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
            <a routerLink="/users-list" routerLinkActive="active" class="nav-link">Users-List </a>
        </li>
        <li class="nav-item">
            <a routerLink="/centers" routerLinkActive="active" class="nav-link">Center-List</a>
        </li>
        <li class="nav-item">
            <a routerLink="/create-center" routerLinkActive="active" class="nav-link">Add-Center</a>
        </li>
    </ul>
</nav>


